{% extends 'base.html.twig' %}

{% block body %}

<div class="container-fluid">
	<div class="row">
		<div class="col-md-12">
				<h1><center> Liste des stages par entreprises</center></h1>
			<table class="table">
				<thead>
					<tr>
						<th>
							Entreprises
						</th>
						<th>
							Stages
						</th>
					</tr>
				</thead>
				<tbody>
					<tr class="table table-dark">
						<td>
							Capgemini
						</td>
						<td>
							Developpeur full-stack
						</td>
					</tr>
					<tr class="table table-dark">
						<td>
							Capgemini
						</td>
						<td>
							Developpeur PHP
						</td>
					</tr>
					<tr class="table table-dark">
						<td>
							Groupe PSA
						</td>
						<td>
							Gestion de animation de production
						</td>
					</tr>
          <tr class="table table-dark">
						<td>
							Safran
						</td>
						<td>
							Developpeur PHP
						</td>
					</tr>

				</tbody>
			</table>
		</div>
	</div>
</div>
{% endblock %}
