<html>
  <header>
    <title>Prostages-Formations</title>
  </header>
  <body>
    <h1>Cette page affichera la liste des formations</h1>
    <p>
      la lise des différentes formations  
    </p>
  </body>
</html>
